*,*:before,*:after{
    box-sizing: border-box;
}

img{
    vertical-align: middle;
}

body{
    font-family: "Bruno Ace SC", cursive;
    font-size: 16px;
    line-height: 1.5;
}

.container{
    max-width: 1296px;
    margin: 0 auto;
}

.bg-bl{
    background: #000000;
}

.d-f{
    display: flex;
    justify-content: space-between;
}

.wt-ft{
    color: #ffffff;
}

.gr-ft{
    color: #00FFA3;
}

.fz-20{
    font-size: 20px;
}

.fz-24{
    font-size: 24px;
}

.fz-64{
    font-size: 64px;
}

.fz-128{
    font-size: 128px;
}

.pd-12-24{
    padding: 12px 24px;
}

.pd-y-160{
    padding: 160px 0;
}

.mb-9{
    margin-bottom: 36px;
}

.mr-6{
    margin-right: 24px;
}

.mr-5{
    margin-right: 20px;
}

.mr-4{
    margin-right: 16px;
}

.btn{
    text-decoration: none;
    border-radius: 32px;
}


/* header */

.pt-40{
    padding-top: 40px;
}

.nav li a{
    display: block;
    color: #D1D1D1;
    text-decoration: none;
}

.nav li a:hover{
    color: #00FFA3;
}


/* banner */

.pd-y-72{
    padding: 72px 0;
}

.title{
    max-width: 636px;
    flex-direction: column;
    justify-content: center;
}

.se{
    align-self: end;
}

.btn-wt{
    color: #000000;
    background: #ffffff;
}

.btn-wt:hover{
    background-color: #00FFA3;
    opacity: 0.9;
}


/* intro */

.intro{
    background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true");
    /* 自適應調整圖片 */
    background-size: cover;
}

.intro-inner{
    justify-content: flex-start;
}

.intro-ct{
    max-width: 526px;
}

.mb-32{
    margin-bottom: 32px;
}

.intro-img{
    max-width: 746px;
}


/* about */

.about{
    align-items: center;
}

.card{
    max-width: 636px;
    flex-wrap: wrap;
}

.card li{
    max-width: calc(50% - 12px);
    border: 1px solid #E3E3E3;
    padding: 16px;
}

.mb-1{
    margin-bottom: 4px;
}

.mb-6{
    margin-bottom: 24px;
}

.about-me{
    max-width: 526px;
}


/* contact */

.contact-me{
    background: linear-gradient(#050014,#01021EE3);
}

.pd-y-96{
    padding: 96px 0;
}

.contact-txt{
    max-width: 657px;
    align-items: center;
}

.social-icon{
    max-width: 526px;
}

.social-icon li a{
    filter:drop-shadow(4px 4px 8px #00000014);
}

.social-icon li a img:hover{
    filter:drop-shadow(0px 0px 16px #9094FFE5);
}


/* project */

.project-img{
    justify-content: flex-start;
}

.project h2{
    max-width: 746px;
    margin-left: auto;
    margin-bottom: 16px;
}

.project-r{
    max-width: 856px;
}

.project-r-t{
    margin-bottom: 28px;
}

.project-txt{
    max-width: 636px;
    flex-direction: column;
}

.ss{
    align-self: start;
}

.btn-bl{
    color: #ffffff;
    background: #000000;
}

.btn-bl:hover{
    background-color: #dfdfdf;
}


/* footer */

.footer{
    padding: 40px 0;
    text-align: center;
}