*,*:before,*:after{
    box-sizing: border-box;
}

img{
    vertical-align: middle;
}

body{
    font-family: "Bruno Ace SC", cursive;
    font-size: 16px;
    line-height: 1.5;
}

.bg-black{
    background: #000000;
}

.pt-40{
    padding-top: 40px;
}

.container{
    width: 1296px;
    margin: 0 auto;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav li{
    max-width: 306px;
}

.nav .mw-196{
    max-width: 196px;
}

.nav li a{
    display: block;
    color: #D1D1D1;
    text-decoration: none;
}

.nav li a:hover{
    color: #00FFA3;
}

.p-72{
    padding: 72px 0;
}

.banner-flex{
    display: flex;
    justify-content: space-between;
}

.title{
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.white-font{
    color: #ffffff;
}
.green-font{
    color: #00FFA3;
}
.fz-64{
    font-size: 64px;
}

.fz-128{
    font-size: 128px;
}

.tar{
    text-align: right;
}

.btn-wt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 181px;
    background: #ffffff;
    margin-left: auto;
    border-radius: 32px;
    cursor: pointer;
}

.contact-me-btn{
    color: #000000;
    text-decoration: none;
}

.pd-12{
    padding: 12px 0;
}

.btn-wt:hover{
    background-color: #00FFA3;
    opacity: 0.9;
}

.intro{
    background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true");
    background-size: cover;
}
.intro-outer{
    display: flex;
    justify-content: space-between;
}

.pd-160{
    padding: 160px 0;
}

.intro-ct{
    width: 41%;
}
.mb-36{
    margin-bottom: 36px;
}

.mb-32{
    margin-bottom: 32px;
}

.fz-24{
    font-size: 24px;
}

.intro-img{
    width: 58%;
    display: flex;
    justify-content: space-between;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    width: 49%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card li{
    width: 48%;
    border: 1px solid #E3E3E3;
    margin-bottom: 24px;

}

.fz-20{
    font-size: 20px;
}
.about-me{
    width: 41%;
}

.pd-16{
    padding: 16px;
}

.contact-me{
    background: linear-gradient(#050014,#01021EE3);
}

.pd-96{
    padding: 96px 0;
}
.contact-inner{
    display: flex;
    justify-content: space-between;
}

.contact-txt{
    width: 51%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icon{
    width: 41%;  
    display: flex;
    justify-content: space-between;
}

.social-icon li img{
    width: 162px;
    height: 162px;
}