*,*:before,*:after{
    box-sizing: border-box;
}

img{
    vertical-align: middle;
}

body{
    font-family: "Bruno Ace SC", cursive;
    font-size: 16px;
    line-height: 1.5;
}

.bg-black{
    background: #000000;
}

.d-f{
    display: flex;
    justify-content: space-between;
}

.wt-ft{
    color: #ffffff;
}

.gr-ft{
    color: #00FFA3;
}

.fz-24{
    font-size: 24px;
}

.fz-64{
    font-size: 64px;
}

.fz-128{
    font-size: 128px;
}

.pd-12{
    padding: 12px 0;
}

.pd-160{
    padding: 160px 0;
}


/* header */

.pt-40{
    padding-top: 40px;
}

.container{
    width: 1296px;
    margin: 0 auto;
}

.nav li{
    width: 23.6%;
}

.nav .w-15{
    width: 15.12%;
}

.nav li a{
    display: block;
    color: #D1D1D1;
    text-decoration: none;
}

.nav li a:hover{
    color: #00FFA3;
}


/* banner */

.pd-72{
    padding: 72px 0;
}

.title{
    width: 49%;
    flex-direction: column;
    justify-content: center;
}

.tar{
    text-align: right;
}

.btn-wt{
    width: 29.08%;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    margin-left: auto;
    border-radius: 32px;
}

.btn-wt{
    color: #000000;
    text-decoration: none;
}

.btn-wt:hover{
    background-color: #00FFA3;
    opacity: 0.9;
}


/* intro */

.intro{
    background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true");
    background-size: cover;
}

.intro-ct{
    width: 41%;
}

.mb-36{
    margin-bottom: 36px;
}

.mb-32{
    margin-bottom: 32px;
}

.intro-img{
    width: 58%;
}


/* about */

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    width: 49%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card li{
    width: 48%;
    border: 1px solid #E3E3E3;
    margin-bottom: 24px;

}

.fz-20{
    font-size: 20px;
}

.mb-4{
    margin-bottom: 4px;
}

.about-me{
    width: 41%;
}

.pd-16{
    padding: 16px;
}

.contact-me{
    background: linear-gradient(#050014,#01021EE3);
}

.pd-96{
    padding: 96px 0;
}
.contact-inner{
    display: flex;
    justify-content: space-between;
}

.contact-txt{
    width: 51%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icon{
    width: 41%;  
    display: flex;
    justify-content: space-between;
}

.social-icon li a{
    filter:drop-shadow(4px 4px 8px #00000014);
}

.social-icon li a img:hover{
    filter:drop-shadow(0px 0px 16px #9094FFE5);
}

.project h2{
    width: 58%;
    margin-left: auto; 
}

.mb-16{
    margin-bottom: 16px;
}

.project-img{
    display: flex;
    justify-content: space-between;
}

.project-right{
    width: 66%;
}

.project-right-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.project-txt{
    width: 74%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-bl{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    margin-right: auto;
    background: #000000;
    border-radius: 32px;
    cursor: pointer;
}

.sm-btn{
    color: #ffffff;
    text-decoration: none;
}

.btn-bl:hover{
    background-color: #dfdfdf;
}

.project-right-bottom{
    display: flex;
    justify-content: space-between;
}

.footer{
    background: #000;
    padding: 40px 0;
    text-align: center;
}